@import url('https://fonts.googleapis.com/css?family=Alike+Angular|Josefin+Sans|Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Alike+Angular', sans-serif;
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html, body{
  margin: 0;
  padding: 0;
}

.nav ul{
  margin: 0;
}

.nav li{
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: #f4c842;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li{
  padding: 0 1.75%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3);
}

.main-header {
  background-color: rgba(0, 0, 0, .6);
  background-image: url("Images/sideflame.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.game-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: 'Alike+Angular', serif;
  font-weight: normal;
  color: #f4c842;
}

.game-name-large {
  font-size: 9em;
}

.content-section{
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;

  background-image: url("flames3.jpg")  no-repeat fixed center center !important;
  background-size: cover ;
}

.section-header {
  font-family: 'Nunito Sans';
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 3.5em;
}

.dragon-image {
  float: left;
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

.main-footer {
  background-color: #000000;
  color: white;
  padding: .25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li{
  padding: 0 .5em;
}

.footer-nav img {
  width:60px;
  height:60px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em;
  cursor: pointer;
}

.btn-play {
  display: block;
  margin: 0 auto;
  margin: .5em 15% 2em 15%;
  color: #f4c842;
  border: 2px solid #f4c842;
  background-color: rgba(255, 255, 255, .1);
  border-radius: .3em;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-play:hover{
  background-color: rgba(0, 0, 0, .6);
}

.dev-row {
  border-bottom: 1px solid black;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.dev-row:last-child {
  border-bottom: none;
}

.dev-item {
  display: inline-block;
  padding-right: 1em;
}


.dev-ID{
  color: #555;
  font-weight: bold;
  width: 8%;
}

.dev-task{
  color: #555;
  font-weight: bold;
  width: 30%;

}
.dev-person{
  color: #555;
  width: 11%;
}
.dev-status{
  color: #555;
  width: 12%;
}
.dev-start {
  color: #555;
  font-weight: bold;
  width:15%;

}
.dev-end{
  color: #555;
  font-weight: bold;
  width:11%;
}

>.ref-Type{
  color: #555;
  font-weight: bold;
  width:40%;
}

.ref-Asset{
  color: #555;
  font-weight: bold;
  width:20%;
}

.ref-Link{
  color: #0000ff;
  font-weight: bold;
  width:60%;
}

.screen-shot{
  margin: 5px;
}

.Screen-Shot-Title{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.screenShotImage{
    height: 280px;
}

.screen-shot-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
